.navbar{
    background-color: #2C3E50;
     position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    transition: height 0.5s ease;
    z-index: 10000;
   
}
.nav-link.active{
    background-color: #1ABC9C;
    border-radius: 6px;
}
.navbar.shrink {
  height: 12%;
}