<nav [class.shrink]="isShrunk" class="navbar navbar-expand-lg ">
  <div class="container">
    <a class="navbar-brand fs-2 fw-bold text-white" routerLink="home">START FRAMEWORK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fs-6 fw-bold p-4">
        <li class="nav-item ">
          <a class="nav-link text-white mx-2" aria-current="page" routerLink="/about" routerLinkActive="active">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-white mx-2" aria-current="page" routerLink="/portfolio" routerLinkActive="active">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-white mx-2" aria-current="page" routerLink="/contact" routerLinkActive="active">CONTACT</a>
        </li>
        </ul>
        </div>
  </div>
</nav>