.aboutbody{
    background-color: #1ABC9C;
}
.line-star {
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}

.line {
  width: 100px; 
  height: 4px; 
  background-color: white; 
}

.star {
  color: white; 
}
 
.row{
    margin-top: 10PX;
    margin-left: 40px;
    margin-right: 40px;
    color: white;
    padding-left: 35px;
    padding-right: 35px;
}