<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="homebody vh-100 flex-column justify-content-center align-content-center ">
        <div class="w-100 text-center ">
            <img src="Images/img1.svg" alt="home_img">
        </div>
        <div>
            <h1 class="fs-1 fw-bold text-center text-white mt-3">START FRAMEWORK</h1>
        </div>

        <div class="d-flex justify-content-center align-content-center">
        <div class="line-star">
        <span class="line"></span>
        <span class="star"><i class="fa-solid fa-star"></i></span>
        <span class="line"></span>
        </div>
        </div>        
        <p class="text-white fs-6 text-center mt-3">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</body>
</html>