<div class=" vh-100 flex-column justify-content-center align-content-center">

    <div class="container ">

    <div>
      <h1 class="fs-1 fw-bold text-center mt-3">PORTFOLIO COMPONENT</h1>
    </div>

    <div class="d-flex justify-content-center align-content-center">
      <div class="line-star">
        <span class="line"></span>
        <span class="star"><i class="fa-solid fa-star"></i></span>
        <span class="line"></span>
      </div>
    </div>

<div class="container mt-4 mb-5">
  <div class="row justify-content-center align-items-center g-4 text-center">

    <div class="col-md-4 col-12 position-relative image-container" (click)="openModal($event)">
      <img src="Images/img2.png" alt="img2" class="img-fluid rounded">
      <div class="overlay d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-plus fa-2x text-white"></i>
      </div>
    </div>

    <div class="col-md-4 col-12 position-relative image-container" (click)="openModal($event)">
      <img src="Images/img3.png" alt="img3" class="img-fluid rounded">
      <div class="overlay d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-plus fa-2x text-white"></i>
      </div>
    </div>

    <div class="col-md-4 col-12 position-relative image-container" (click)="openModal($event)">
      <img src="Images/img4.png" alt="img4" class="img-fluid rounded">
      <div class="overlay d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-plus fa-2x text-white"></i>
      </div>
    </div>



    
    <div class="col-md-4 col-12 position-relative image-container" (click)="openModal($event)">
      <img src="Images/img2.png" alt="img5" class="img-fluid rounded">
      <div class="overlay d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-plus fa-2x text-white"></i>
      </div>
    </div>

    
    <div class="col-md-4 col-12 position-relative image-container" (click)="openModal($event)">
      <img src="Images/img3.png" alt="img6" class="img-fluid rounded">
      <div class="overlay d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-plus fa-2x text-white"></i>
      </div>
    </div>


    
    <div class="col-md-4 col-12 position-relative image-container" (click)="openModal($event)">
      <img src="Images/img4.png" alt="img7" class="img-fluid rounded">
      <div class="overlay d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-plus fa-2x text-white"></i>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal-container" id="imageModal" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close-btn" (click)="closeModal()">&times;</span>
    <img [src]="selectedImage" class="img-fluid rounded" alt="imageshow">
  </div>
</div>



    </div>
    </div>