.min-vh-100 {
  margin-top: 100px;
  margin-bottom: 50px;
}

.line-star {
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}

.line {
  width: 100px; 
  height: 4px; 
  background-color: #2C3E50; 
}

.star {
  color: #2C3E50; 
}
h1{
      color: #2C3E50; 

}
.image-container {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  padding: 0px;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.image-container img {
  display: block;
  width: 90%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.4s ease;
  gap: 2px;
}

.image-container .overlay {
  position: absolute;
  width: 90%;
  top: 0;
  bottom: 0;
  background-color: rgba(26, 188, 156, 0.7);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s ease;
  border-radius: 8px;
}

.image-container .overlay i {
  color: white;
  font-size: 4rem;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.3s ease;
}

.image-container:hover .overlay {
  opacity: 1;
}

.image-container:hover .overlay i {
  opacity: 1;
  transform: scale(1);
}

.modal-container {
  display: none; 
  position: fixed;
  inset: 0;
  z-index: 1050;
  background-color: rgba(62, 103, 214, 0.3);
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background: transparent;
  border: none;
}

.modal-content img {
  width: auto;       
  height: 50vh;    
  border-radius: 10px;
  max-width: 90%;  
  object-fit: contain; 
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.images-container {
  padding-bottom: 50px;
}

