
<div class=" min-vh-100 flex-column justify-content-center align-content-center">

    <div class="container ">

    <div>
      <h1 class="fs-1 fw-bold text-center mt-3">CONTACT SECTION</h1>
    </div>

    <div class="d-flex justify-content-center align-content-center">
      <div class="line-star">
        <span class="line"></span>
        <span class="star"><i class="fa-solid fa-star"></i></span>
        <span class="line"></span>
      </div>
    </div>

    <form class="mx-auto mt-5 p-4 d-flex flex-column align-items-center justify-content-center ">
      <div class="form-floating mb-3 w-100">
        <input type="text" class="form-control" id="floatingName" placeholder="userName">
        <label for="floatingName">User Name</label>
      </div>

      <div class="form-floating mb-3 w-100">
        <input type="number" class="form-control" id="floatingAge" placeholder="userAge">
        <label for="floatingAge">User Age</label>
      </div>

      <div class="form-floating mb-3 w-100">
        <input type="email" class="form-control" id="floatingEmail" placeholder="userEmail">
        <label for="floatingEmail">User Email</label>
      </div>

      <div class="form-floating mb-3 w-100">
        <input type="password" class="form-control" id="floatingPassword" placeholder="userPassword">
        <label for="floatingPassword">User Password</label>
      </div>
      <button type="button" class="btn btn-primary align-self-start mt-3 ">Send Message</button>

    </form>
  

  </div>
</div>